<!-- src/app/components/painel-fotos/painel-fotos.component.html -->

<!-- Usamos *ngIf para só mostrar o painel se houver fotos -->
<div class="photo-panel" *ngIf="fotos && fotos.length > 0">
  <h2>Fotos do Veículo</h2>
  <div class="photos-grid">
    <div class="photo-card" *ngFor="let foto of fotos">
      <img [src]="apiUrlBase + foto.Path" [alt]="foto.Arquivo">

    </div>
  </div>
</div>

<div *ngIf="!fotos || fotos.length === 0">
    <p>Nenhuma foto cadastrada para este veículo.</p>
</div>