.delete-tab {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100%;            
  width: 40px;             
  background-color: #fff;  
  color: #e74c3c;          
  border: 1px solid #ddd;  
  cursor: pointer;
  font-size: 18px;        
}

.delete-tab:hover {
  background-color: #f0f0f0; 
  transform: scale(1.05);    
}

.delete-tab:focus {
  outline: none;              
}
