
bin/
obj/


.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/


.idea/


ScaffoldingReadMe.txt


*.dll
*.exe
*.pdb
*.mdb
*.app


*.nupkg



*.nuget.props
*.nuget.targets

*.log
logs/


publish/
*.publishsettings


appsettings*.json
appsettings.Development.json
secrets.json
*.key
*.pfx

*.pidb
*.swp
*.swo
*.bak
*.backup
*.orig


bin/
obj/


.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
