<article class="all-content">
      <app-botao-deletar></app-botao-deletar>
  <div class="vehicle-card-v2">

    <div class="vehicle-image-container">
      <img src="../../../assets/carros/carro.jpg" alt="Foto do Veículo">
    </div>

    <div class="vehicle-content">
      <div class="content-header">
        <span class="vehicle-title">MARCA MODELO | ANO</span>
      </div>
      <div class="content-body">
        <div class="vehicle-details">
          <p>Placa - <span class="text-green">AAA-0102</span></p>
          <p>Km - <span class="text-green">25.000</span></p>
          <p>Cor - <span class="text-green">Branco</span></p>
        </div>

        <div class="vehicle-actions-price">
          <div class="action-buttons">
            <div class="action-item">
              <i class="fas fa-pen-to-square icon-edit" matTooltip="Editar veículo" matTooltipPosition="above"
                matTooltipClass="custom-tooltip"></i>
            </div>
            <div class="action-item">
              <i class="fas fa-camera"></i>
              <span class="action-label">8 Fotos</span>
            </div>
            <div class="action-item">
              <i class="fas fa-car"></i>
              <span class="action-label">Opcionais</span>
            </div>
          </div>
          <div class="vehicle-price">R$ 103.900,00</div>
        </div>
      </div>
    </div>
 
  </div>
<app-card-portal></app-card-portal>
<app-card-portal></app-card-portal>
 

</article>