

.portal-title {
  background: #fff;
  border-radius: 15px 15px 0px 0px;
  padding: 5px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  text-align: center;
  position: relative;
      top: -55px;


}

.portal-title img {
  width: 30px;
  height: 30px;
  object-fit: contain;

}

.portal-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -20px;
  gap: 5px;
}

.portal-content label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 10px;
  color: #333;
}